<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zype.fire.auth"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity
            android:name=".ZypeLoginActivity"
            android:label="@string/app_name"
            />
        <meta-data
            android:name="AMZNAP@ZypeAuth"
            android:value="IAuthentication@com.zype.fire.auth.ZypeAuthenticationImplCreator"/>
    </application>

</manifest>
